html, body {
    width: 300px;
    background-color:#55db71;
    color: #2f4984;
}

#generalAnalytics > p {
    text-align: left;
    font-size: 1em;
    cursor: pointer;
    padding: 7px;
}

#generalAnalytics > span {
    text-align: right;
}
